{% extends 'excursion/dashboard_base.html.twig' %}
{% block body %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            <img src="{{ asset('photos/excursions/'~excursion.images) }}" style="width:80%" alt="{{ excursion.nom }}">
            <div>{{ form_row(form.imagesFile) }}</div>
        </div>
        <div class="col-6">
            <h3 class="titre">Prix :</h3>
            <div>{{ form_row(form.prixadulte,{"label":" Prix Adulte ($)" }) }}</div>
            <div>{{ form_row(form.prixenfant,{ "label":" Prix Enfant ($)" }) }}</div>
            <h3 class="titre">affichage :</h3>
            <div>{{ form_row(form.envedette,{ "label":" En Vedette ?" }) }}</div>
        </div>
        <div class="col-6">
            <h3 class="titre">Nom :</h3>
            <div>{{ form_row(form.nom)}}</div>
            <div>{{ form_row(form.nomes)}}</div>
            <div>{{ form_row(form.nomen)}}</div>
        </div>
        <div class="col-6">
            <h3 class="titre">Ville :</h3>
            {{ form_row(form.ville) }}
            {{ form_row(form.villees) }}
            {{ form_row(form.villeen) }}
        </div>
        <div class="col-12">
            <h3 class="titre">Presentation :</h3>
            {{ form_row(form.presentation) }}
            {{ form_row(form.presentationes) }}
            {{ form_row(form.presentationen) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}