{% extends 'base.html.twig' %}

{% block title %}Excursion{% endblock %}

{% block body %}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>{{ excursion.nom }}</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour-details__content">
                    <div class="tour-two__top">
                        <div class="tour-two__top-left">
                            <h3>{{ excursion.nom }}</h3>
                            <div class="tour-one__stars">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star inactive"></i> 2 Reviews
                            </div><!-- /.tour-one__stars -->

                        </div><!-- /.tour-two__top-left -->
                        <div class="tour-two__right">
                            <p><span>{{ excursion.prixadulte }}$</span> <br> Prix Adulte</p>
                        </div><!-- /.tour-two__right -->
                        <div class="tour-two__right">
                            <p><span>{{ excursion.prixenfant }}$</span> <br> Prix enfant</p>
                        </div><!-- /.tour-two__right -->
                    </div><!-- /.tour-two__top -->
                    <ul class="tour-one__meta list-unstyled"> </ul><!-- /.tour-one__meta -->

                    <div class="tour-details__gallery-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tour-details__gallery-image">
                                    <img src="{{ asset('photos/excursions/'~excursion.images)| imagine_filter('carre') }}"  alt="{{ excursion.nom }}">
                                </div><!-- /.tour-details__gallery-image -->
                            </div><!-- /.swiper-slide -->
                    </div><!-- /.tour-details__gallery-carousel -->
                        <br/><h3 class="tour-details__title">Presentation</h3><!-- /.tour-details__title -->
                    <p>{{ excursion.presentation }}</p>
                    <!-- /.tour-details__subtitle -->
                    </div>
                </div>
            </div>

            <!-- /.reservation form -->
            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__search tour-sidebar__single">
                        <h3 style="text-align: center">Reserver</h3>
                        {{ form(reservationForm) }}
                    </div><!-- /.tour-sidebar__search -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
