{% extends 'base.html.twig' %}

{% block title %}Excursion{% endblock %}

{% block body %}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>{{ excursion.nom }}</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour-details__content">
                    <div class="tour-two__top">
                        <div class="tour-two__top-left">
                            <h3>{{ excursion.nom }}</h3>
                            <div class="tour-one__stars"><i class="fas fa-map-marker-alt"></i>
                                {{excursion.ville}}
                            </div><!-- /.tour-one__ville -->

                        </div><!-- /.tour-two__top-left -->
                        <div class="tour-two__right">
                            <p><span>{{ excursion.prixadulte }}$</span> <br> Prix Adulte</p>
                        </div><!-- /.tour-two__right -->
                        <div class="tour-two__right">
                            <p><span>{{ excursion.prixenfant }}$</span> <br> Prix enfant</p>
                        </div><!-- /.tour-two__right -->
                    </div><!-- /.tour-two__top -->
                    <ul class="tour-one__meta list-unstyled"> </ul><!-- /.tour-one__meta -->

                    <div class="tour-details__gallery-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tour-details__gallery-image">
                                    <img src="{{ asset('photos/excursions/'~excursion.images) }}" style="width: 600px;height: 400px" alt="{{ excursion.nom }}">
                                </div><!-- /.tour-details__gallery-image -->
                            </div><!-- /.swiper-slide -->
                    </div><!-- /.tour-details__gallery-carousel -->
                        <br/><h3 class="tour-details__title">Presentation</h3><!-- /.tour-details__title -->
                    <p>{{ excursion.presentation }}</p>
                    <!-- /.tour-details__subtitle -->
                    </div>
                </div>
            </div>

            <!-- /.reservation form -->
            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__search tour-sidebar__single">
                        <h3 style="text-align: center">Reserver</h3>
                        {{form_start(reservationForm)}}
                        {{form_row(reservationForm.nom)}}
                        {{form_row(reservationForm.prenom)}}
                        {{form_row(reservationForm.Tel)}}
                        {{form_row(reservationForm.email)}}
                        {{form_row(reservationForm.nombreAdulte)}}
                        {{form_row(reservationForm.NombreEnfant)}}
                        {{form_row(reservationForm.DateDebut, { attr:{ class:'js-datepicker' } })}}
                        {{form_row(reservationForm.DateFin, { attr:{ class:'js-datepicker' } })}}
                        {{form_row(reservationForm.message)}}
                        {{form_end(reservationForm)}}
                    </div><!-- /.tour-sidebar__search -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));

        $('.js-datepicker').datepicker({
            autoclose: true,
            language: 'fr',
            dateFormat : 'dd/mm/yy',
            format:'dd/mm/yyyy',

        }).datepicker("setDate", 'now');

    </script>
{% endblock %}
