{% extends 'excursion/dashboard_base.html.twig' %}

{% block title %}Excursion{% endblock %}

{% block body %}
    <h1>Excursion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ excursion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ excursion.nom }}</td>
            </tr>
            <tr>
                <th>Prixadulte</th>
                <td>{{ excursion.prixadulte }}</td>
            </tr>
            <tr>
                <th>Prixenfant</th>
                <td>{{ excursion.prixenfant }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ excursion.images }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ excursion.presentation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('excursion_index') }}">back to list</a>

    <a href="{{ path('excursion_edit', {'id': excursion.id}) }}">edit</a>

    {{ include('excursion/_delete_form.html.twig') }}
{% endblock %}
