{% block footer %}

    <footer class="site-footer" style="padding-top: 40px;padding-bottom: 10px">
        <!-- /.site-footer__bg -->
        <div class="container">
            <div class="row">
                <div class="footer-widget__column footer-widget__about">
                    <a href="{{ path('ribatour') }}" class="footer-widget__logo"><img src="{{asset('images/travelagency-logo.png')}}"  alt=""></a>
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__about">
                    <h3 class="footer-widget__title">Riba Tours</h3><!-- /.footer-widget__title -->
                    <p>{% trans %}Ribat Tours is a travel and tourism agency, created in March 1983 and approved by the Ministry of Tourism in Morocco.
                            Ribat Tours specializes in cultural and sporting trips, trekking of all kinds, stays, à la carte trips and also your own proposal.{% endtrans %}</p>
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">{% trans %}company{% endtrans %}</h3><!-- /.footer-widget__title -->
                    <ul class="footer-widget__links-list list-unstyled">
                        <li><a href="{{ path('about') }}">{% trans %}About Us{% endtrans %}</a></li>
                        <li><a href="{{ path('conditions') }}">{% trans %}Conditions of sale{% endtrans %}</a></li>
                        <li><a href="{{ path('contact') }}">{% trans %}Contact us{% endtrans %}</a></li>
                    </ul><!-- /.footer-widget__links-list list-unstyled -->
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">{% trans %}Links{% endtrans %}</h3><!-- /.footer-widget__title -->
                    <ul class="footer-widget__links-list list-unstyled">
                        <li><a href="{{ path('excursions') }}">{% trans %}Excursions{% endtrans %}</a></li>
                        <li><a href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
                        <li><a href="{{ path('conditions') }}">{% trans %}Conditions of sale{% endtrans %}</a></li>
                    </ul><!-- /.footer-widget__links-list list-unstyled -->
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">Contact</h3><!-- /.footer-widget__title -->
                    <a href="mailto:contact@ribatour.com">contact@ribatour.com</a> <br>
                    <a href="tel:+212 245 111 000">+212 245 111 000</a>
                    </select><!-- /#languages-2 .selectpicker -->
                </div><!-- /.footer-widget__column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.site-footer -->

    <div class="site-footer__bottom">
        <div class="container">
            <p>@ All copyright 2020, <a href="{{ path('ribatour') }}">ribatours.com</a></p>
            <div class="site-footer__social">
                <a href="#"><i class="fab fa-facebook-square"></i><!-- /.fab fa-facebook-square --></a>
                <a href="#"><i class="fab fa-twitter"></i><!-- /.fab fa-twitter --></a>
                <a href="#"><i class="fab fa-instagram"></i><!-- /.fab fa-instagram --></a>
            </div><!-- /.site-footer__social -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->



{% endblock %}