{% block header %}
    <div class="site-header__header-one-wrap">
        <div class="topbar-one">
            <div class="container-fluid">
                <div class="topbar-one__left">
                    <a href="mailto:contact@ribatour.com">contact@ribatour.com</a>
                    <a href="tel:+212 245 111 000">+212 245 111 000</a>
                    <a href="#">Rue Outman Appt 10 N 586
                        40000, MARRAKECH - MOROCCO</a>
                </div><!-- /.topbar-one__left -->
                <div class="topbar-one__right">
                    <div class="topbar-one__social">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div><!-- /.topbar-one__social -->
                </div><!-- /.topbar-one__right -->
            </div><!-- /.container-fluid -->
        </div><!-- /.topbar-one -->
        <header class="main-nav__header-one">
            <nav class="header-navigation stricky">
                <div class="container" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="main-nav__logo-box">
                        <a href="{{ path('ribatour') }}" class="main-nav__logo">
                            <img src="{{asset('images/travelagency-logo.png')}}"  width="123" class="main-logo"
                                 alt="Awesome Image" />
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i>
                            <!-- /.smpl-icon-menu --></a>
                    </div><!-- /.logo-box -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="main-nav__main-navigation">
                        <ul class=" main-nav__navigation-box">
                            <li class="dropdown">
                                <a href="{{ path('ribatour') }}">Accueil</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('excursions') }}">Excursions</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('about') }}">Qui Somme nous ?</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contacter Nous</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="main-nav__right">
                        <a href="{{ path('app_login') }}" class="main-nav__login"><i class="tripo-icon-avatar"></i></a>
                        <select name="currency" id="currency" class="selectpicker">
                            <option value="USD">USD</option>
                            <option value="GBP">DH</option>
                        </select><!-- /#currency .selectpicker -->
                        <select name="languages" id="languages" class="selectpicker">
                            <option value="ENG">FR</option>
                            <option value="BN">EN</option>
                        </select><!-- /#languages .selectpicker -->
                    </div><!-- /.main-nav__right -->
                </div>
                <!-- /.container -->
            </nav>
        </header><!-- /.site-header -->
    </div><!-- /.site-header__header-one-wrap -->

{% endblock %}