{% extends 'base.html.twig' %}
{% block title  %} contact {% endblock %}
{% block body %}
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Afficher navigation</a>
        <a href="#" title="Hide navigation">Masque navigation</a>

        <ul class="clearfix container">
            <li class=""><a href="{{ path('ribatour') }}"> Accueil</a></li>
            <li class=""><a href="{{ path('excursions') }}">Excursions </a></li>
            <li class=""><a href="{{ path('transferts') }}">Transferts </a></li>
            <li class="active"><a href="{{ path('about') }}">Qui sommes nous ? </a></li>
            <li class=""><a href="{{ path('contact') }}">Contact </a></li>
        </ul>
    </nav>

    <div class="page-content page-about inner-page">

        <div class="home-main-content about-agency">
            <div class="container">
                <h2>Transport Agency</h2>
                <div class="content">
                    <p align="justify">
                        Ribat Tours est une agence de voyages et de Tourisme, cr&eacute;e en Mars 1983 et agr&eacute;e par le minist&egrave;re de Tourisme au Maroc. Ribat Tours est sp&eacute;cialis&eacute; dans les voyages culturels, sportifs, le trekking de tous ses genres, des s&eacute;jours, des voyages &agrave; la carte et aussi votre propre proposition. Ses guides dipl&ocirc;m&eacute;s et s&eacute;rieux connaissant bien le pays, vous font d&eacute;couvrir le paysage grandiose vari&eacute; du Maroc&nbsp;: Les villes imp&eacute;riales, le d&eacute;sert et les montagnes o&ugrave; vit une population loin de toute civilisation.</p>
                    <h2>
                        <strong>Nos Produits</strong></h2>
                    <ul>
                        <li>
                            <div align="left">
                                Trekking et randonn&eacute;es p&eacute;destres (Montagnes&nbsp;et d&eacute;sert:portage &agrave; dos de mules ou dromadaires)</div>
                        </li>
                        <li>
                            <div align="left">
                                Grande &eacute;vasion du d&eacute;sert avec des &nbsp;Jeep 4x4</div>
                        </li>
                        <li>
                            <div align="left">
                                Raids en VTT</div>
                        </li>
                        <li>
                            <div align="left">
                                Ski de randonn&eacute;e</div>
                        </li>
                        <li>
                            <div align="left">
                                Raid en Quad</div>
                        </li>
                        <li>
                            <div align="left">
                                Randonn&eacute;e chameli&egrave;re le long de l&acute;Atlantique</div>
                        </li>
                        <li>
                            <div align="left">
                                voyages culturels en Bus ou Jeep</div>
                        </li>
                        <li>
                            <div align="left">
                                Des rencontres avec des familles Berb&egrave;res</div>
                        </li>
                        <li>
                            <div align="left">
                                Des voyages &agrave; la carte ou &agrave; th&egrave;me</div>
                        </li>
                        <li>
                            <div align="left">
                                Des bivouacs de luxe en plein d&eacute;sert</div>
                        </li>
                        <li>
                            <div align="left">
                                Thalasso&nbsp;&nbsp;</div>
                        </li>
                    </ul>
                    <p align="justify">
                        <strong>Esprit Ribat tours&nbsp;:</strong>&nbsp;Nous voulons avec un c&oelig;ur ouvert et plein de joie, vous faire rapprocher&nbsp; d&acute;une &nbsp;culture d&acute;une population isol&eacute;e et de partager avec eux leur plaisir de vie et de vous laisser go&ucirc;ter le charme du silence de la nature, qu&acute;ils vivent en gardant une vie traditionnelle&nbsp; et voulant vivre loin de toute civilisation en s&acute;attachant aux traditions du pays.</p>
                    <p align="justify">
                        <strong>Notre but&nbsp;:&nbsp;</strong>Votre voyage avec nous, participera dans le d&eacute;veloppement de la vie sociale et &eacute;conomique de cette population oubli&eacute;. Nous utilisons leur maison simple pour y passer une ou plusieurs nuits chez eux. Ils nous pr&eacute;parent&nbsp; nos repas, leurs mules portent nos bagages. Nous sommes bien accueillis. C&acute;est la culture &nbsp;Berb&egrave;re. Nos prix sont raisonnables afin de garantir &agrave; notre agence une client&egrave;le gentille et propre.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}