{% extends 'base.html.twig' %}
{% block title  %} excursions {% endblock %}
{% block body %}

    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>{% trans %}Excursions{% endtrans %}</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->
    <section class="tour-one">
        <div class="container">
            <div class="block-title text-center">
                <p>{% trans %}TOURS{% endtrans %}</p>
                <h3>{% trans %}Our List{% endtrans %}</h3>
            </div><!-- /.block-title -->
            <div class="container">
                <div class="products-list content-grid">
                    <div class="row">
                        {% for excursion in excursions %}
                            <div class="col-xl-4 col-lg-6">
                                <div class="tour-one__single">
                                    <div class="tour-one__image">
                                        <img src="{{ asset('photos/excursions/'~excursion.images) }}" alt="">
                                        <a href="tour-details.html"><i class="fa fa-heart"></i></a>
                                    </div><!-- /.tour-one__image -->
                                    <div class="tour-one__content">
                                        <div class="tour-one__stars"><i class="fas fa-map-marker-alt"></i>
                                            {% if (app.request.getlocale()) == 'es' %}
                                                {{excursion.villees}}
                                            {% elseif (app.request.getlocale()) == 'en' %}
                                                {{excursion.villeen}}
                                            {% elseif (app.request.getlocale()) == 'fr' %}
                                                {{excursion.ville}}
                                            {% endif %}
                                        </div><!-- /.tour-one__ville -->
                                        <h3><a href="{{path('excursion_show',{'id': excursion.id})}}">
                                                {% if (app.request.getlocale()) == 'es' %}
                                                    {{excursion.nomes}}
                                                {% elseif (app.request.getlocale()) == 'en' %}
                                                    {{excursion.nomen}}
                                                {% elseif (app.request.getlocale()) == 'fr' %}
                                                    {{excursion.nom}}
                                                {% endif %}
                                            </a>
                                        </h3><!-- /.tour-one__Nom -->
                                        <p><span>{{excursion.prixadulte}}$</span> / {% trans %}Adult price{% endtrans %}
                                            <span class="ma">{{excursion.prixenfant}}$</span> / {% trans %}Child price{% endtrans %}</p>
                                    </div><!-- /.tour-one__content -->
                                </div><!-- /.tour-one__single -->
                            </div><!-- /.col-lg-4 -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}