{% extends 'base.html.twig' %}
{% block title  %} excursions {% endblock %}
{% block body %}
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Afficher navigation</a>
        <a href="#" title="Hide navigation">Masque navigation</a>

        <ul class="clearfix container">
            <li class=""><a href="{{ path('ribatour') }}"> Accueil</a></li>
            <li class="active"><a href="{{ path('excursions') }}">Excursions </a></li>
            <li class=""><a href="{{ path('transferts') }}">Transferts </a></li>
            <li class=""><a href="{{ path('about') }}">Qui sommes nous ? </a></li>
            <li class=""><a href="{{ path('contact') }}">Contact </a></li>
        </ul>
    </nav>
    <div class="page-content page-excusrions">
        <div class="header-products-list"></div>
        <div class="container">
            <div class="search-form">
                <!-- TAB NAVIGATION -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab">
                            <i class="fa fa-search"></i>
                            <b>Excursions & Circuits</b>
                            <span>Chercher une excursion ou un circuit au maroc</span>
                        </a></li>
                    <li ><a href="#tab2" role="tab" data-toggle="tab">
                            <i class="fa fa-search"></i>
                            <b>Transfers</b>
                            <span>Choisissez votre trajet</span>
                        </a></li>
                </ul>
                <!-- TAB CONTENT -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <form action="http://ribatour.com/excursions" method="get" class="form-inline" role="form">

                            <div class="form-group">
                                <input type="text" class="form-control" name="q" value="" placeholder="Mot clé">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control date-time-picker" name="date" placeholder="Date" value="19/09/2020">
                            </div>

                            <div class="form-group">
                                <select type="text" class="form-control" name="destination" id="">
                                    <option value="0">Par destination</option>
                                    <option value="2" >Agadir</option>
                                    <option value="9" >Casablanca</option>
                                    <option value="11" >Chefchaouen</option>
                                    <option value="5" >Desert & kasbahs</option>
                                    <option value="12" >Desert & Kasbahs</option>
                                    <option value="3" >Essaouira</option>
                                    <option value="7" >Fès</option>
                                    <option value="25" >Ifrane</option>
                                    <option value="4" >Imlil</option>
                                    <option value="1" >Marrakech</option>
                                    <option value="16" >Marrakech, Palmeraie</option>
                                    <option value="19" >Meknès</option>
                                    <option value="15" >Merzouga</option>
                                    <option value="23" >Moulay Yacoub</option>
                                    <option value="24" >Moyen Atlas</option>
                                    <option value="17" >Oualidia</option>
                                    <option value="13" >Ouzoud</option>
                                    <option value="8" >Rabat</option>
                                    <option value="18" >Safi</option>
                                    <option value="27" >Sefrou</option>
                                    <option value="10" >Tanger</option>
                                    <option value="20" >Taroudant</option>
                                    <option value="22" >Taza</option>
                                    <option value="21" >Tétouan</option>
                                    <option value="14" >Zagora</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Chercher</button>
                        </form>
                    </div>

                    <div class="tab-pane fade " id="tab2">
                        <form action="http://ribatour.com/transferts" method="get" class="form-inline" role="form">

                            <div class="form-group">
                                <select type="text" class="form-control" name="" id="" placeholder="">
                                    <option value="0">Destination départ</option>
                                    <option value="2">Agadir</option>
                                    <option value="9">Casablanca</option>
                                    <option value="11">Chefchaouen</option>
                                    <option value="5">Desert & kasbahs</option>
                                    <option value="12">Desert & Kasbahs</option>
                                    <option value="3">Essaouira</option>
                                    <option value="7">Fès</option>
                                    <option value="25">Ifrane</option>
                                    <option value="4">Imlil</option>
                                    <option value="1">Marrakech</option>
                                    <option value="16">Marrakech, Palmeraie</option>
                                    <option value="19">Meknès</option>
                                    <option value="15">Merzouga</option>
                                    <option value="23">Moulay Yacoub</option>
                                    <option value="24">Moyen Atlas</option>
                                    <option value="17">Oualidia</option>
                                    <option value="13">Ouzoud</option>
                                    <option value="8">Rabat</option>
                                    <option value="18">Safi</option>
                                    <option value="27">Sefrou</option>
                                    <option value="10">Tanger</option>
                                    <option value="20">Taroudant</option>
                                    <option value="22">Taza</option>
                                    <option value="21">Tétouan</option>
                                    <option value="14">Zagora</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="" id="" placeholder="">
                                    <option value="0">Destination arrivée</option>
                                    <option value="2">Agadir</option>
                                    <option value="9">Casablanca</option>
                                    <option value="11">Chefchaouen</option>
                                    <option value="5">Desert & kasbahs</option>
                                    <option value="12">Desert & Kasbahs</option>
                                    <option value="3">Essaouira</option>
                                    <option value="7">Fès</option>
                                    <option value="25">Ifrane</option>
                                    <option value="4">Imlil</option>
                                    <option value="1">Marrakech</option>
                                    <option value="16">Marrakech, Palmeraie</option>
                                    <option value="19">Meknès</option>
                                    <option value="15">Merzouga</option>
                                    <option value="23">Moulay Yacoub</option>
                                    <option value="24">Moyen Atlas</option>
                                    <option value="17">Oualidia</option>
                                    <option value="13">Ouzoud</option>
                                    <option value="8">Rabat</option>
                                    <option value="18">Safi</option>
                                    <option value="27">Sefrou</option>
                                    <option value="10">Tanger</option>
                                    <option value="20">Taroudant</option>
                                    <option value="22">Taza</option>
                                    <option value="21">Tétouan</option>
                                    <option value="14">Zagora</option>
                                </select>
                            </div>


                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Chercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="products-list content-grid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/97-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P240617180551.jpg" alt="Photo Excursion 3 Vallées">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/97-article.html"> Excursion 3 Vallées </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">1 Dhs
                                                <span class="price-currency"> Par personne</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/97-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/97-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/98-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001120.jpg" alt="Photo Nuit dans le désert">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/98-article.html"> Nuit dans le désert </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">5 Dhs</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/98-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/98-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/99-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001130.jpg" alt="Photo Green Fees 18 trous">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/99-article.html"> Green Fees 18 trous </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">0 Dhs
                                                <span class="price-currency"> Par personne</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/99-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/99-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/100-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001238.jpg" alt="Photo Samanah Golf">
                                <span class="on-hover"></span>
                            </a>
                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/100-article.html"> Samanah Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">0 Dhs
                                                <span class="price-currency"> Par personne</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/100-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/100-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/101-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001223.jpg" alt="Photo Palmeraie Golf">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/101-article.html"> Palmeraie Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">0 Dhs
                                                <span class="price-currency"> Par personne</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/101-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/101-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/102-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001157.jpg" alt="Photo Diner gastronomique">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/102-article.html"> Diner gastronomique </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de
                                            <span class="price-number">0 Dhs
                                                <span class="price-currency"> Par personne</span>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/102-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/102-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/97-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001034.jpg" alt="Photo Excursion 3 Vallées">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/97-article.html"> Excursion 3 Vallées </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">1 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/97-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/97-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/98-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001120.jpg" alt="Photo Nuit dans le désert">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/98-article.html"> Nuit dans le désert </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/98-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/98-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/99-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001130.jpg" alt="Photo Green Fees 18 trous">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/99-article.html"> Green Fees 18 trous </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/99-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/99-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/100-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001238.jpg" alt="Photo Samanah Golf">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/100-article.html"> Samanah Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/100-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/100-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/101-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001223.jpg" alt="Photo Palmeraie Golf">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/101-article.html"> Palmeraie Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/101-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/101-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/97-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001034.jpg" alt="Photo Excursion 3 Vallées">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/97-article.html"> Excursion 3 Vallées </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">1 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/97-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/97-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/98-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001120.jpg" alt="Photo Nuit dans le désert">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/98-article.html"> Nuit dans le désert </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/98-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/98-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/99-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001130.jpg" alt="Photo Green Fees 18 trous">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/99-article.html"> Green Fees 18 trous </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/99-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/99-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/100-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001238.jpg" alt="Photo Samanah Golf">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/100-article.html"> Samanah Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/100-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/100-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/101-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001223.jpg" alt="Photo Palmeraie Golf">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/101-article.html"> Palmeraie Golf </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/101-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/101-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/97-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001034.jpg" alt="Photo Excursion 3 Vallées">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/97-article.html"> Excursion 3 Vallées </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">1 Dhs<span class="price-currency"> Par personne</span></span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/97-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/97-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div><div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="grid-item grid-item-product">
                            <a href="excursions/98-article.html" class="item-thumbnail to-hover">
                                <img src="photos/P220417001120.jpg" alt="Photo Nuit dans le désert">
                                <span class="on-hover"></span>
                            </a>

                            <div class="item-content">
                                <div class="item-title">
                                    <h3 class="item-title-title"><a href="excursions/98-article.html"> Nuit dans le désert </a>  </h3>

                                    <div class="item-price">
                                        <div class="price-label">à partir de<span class="price-number">0 Dhs</span>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="item-details">

                                    Ribatour cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.Rttours cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience via a wide range of devices - mobiles, tablets and computers.

                                    &nbsp;

                                    We use Bootstrap3 cutting edge technology- Upgrade your websites with the ability to change its appearance and layout, based on the screen size on which it is displayed. Our responsive website maker provides an optimal viewing experience.
                                </div>
                            </div>
                            <div class="item-footer">
                                <div class="product-actions">
                                    <a href="excursions/98-article.html" class="product-more">+ PLUS D'INFOS</a>
                                    <a href="excursions/98-article.html" class="product-book"><i class="icon-cart"></i> Réserver</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}