{% extends 'base.html.twig' %}
{% block title  %} RIBATOUR {% endblock %}
{% block body %}
    <section class="banner-one" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <div class="hometitle">
                <h2>{% trans %}Visit <span>Morocco{% endtrans %}</span></h2>
                <p>{% trans %}Where would you like to go?{% endtrans %}</p>
                <div class="col text-center">
                    <a class="thm-btn tour-search-one__btn" style="text-align: center" href="{{path('search')}}">{% trans %}Search{% endtrans %}</a>
                </div><!-- /.tour-search-one__btn-wrap -->
            </div>
        </div><!-- /.container -->
    </section><!-- /.banner-one -->
    <section class="features-one__title">
        <div class="container">
            <div class="block-title text-center">
                <p>{% trans %}CALL OUR AGENTS TO BOOK!{% endtrans %}</p>
                <h3>{% trans %}Travel with the best <br> operator in Marrakech{% endtrans %}</h3>
            </div><!-- /.block-title -->
        </div><!-- /.container -->
    </section><!-- /.features-one__title -->
    <section class="features-one__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-tour-guide"></i>
                        <h3>{% trans %}Local Guides{% endtrans %}<br>  <br>  </h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-reliability"></i>
                        <h3>{% trans %}100% trusted  <br> travel agencys{% endtrans %}</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-user-experience"></i>
                        <h3>{% trans %}28+ Years of travel  <br> and experience{% endtrans %}</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-feedback"></i>
                        <h3>{% trans %}98% Our travelers <br> are satisfied{% endtrans %}</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.features-one__content -->
    <section class="tour-one">
        <div class="container">
            <div class="block-title text-center">
                <p>{% trans %}FEATURED TOURS{% endtrans %}</p>
                <h3>{% trans %}Most popular tours{% endtrans %}</h3>
            </div><!-- /.block-title -->
            <div class="row">
                {% for excursion in excursions %}
                    <div class="col-xl-4 col-lg-6">
                        <div class="tour-one__single">
                            <div class="tour-one__image">
                                <img src="{{ asset('photos/excursions/'~excursion.images) }}" alt="">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </div><!-- /.tour-one__image -->
                            <div class="tour-one__content">
                                <div class="tour-one__stars"><i class="fas fa-map-marker-alt"></i>
                                    {% if (app.request.getlocale()) == 'es' %}
                                        {{excursion.villees}}
                                    {% elseif (app.request.getlocale()) == 'en' %}
                                        {{excursion.villeen}}
                                    {% elseif (app.request.getlocale()) == 'fr' %}
                                        {{excursion.ville}}
                                    {% endif %}
                                </div><!-- /.tour-one__ville -->
                                <h3><a href="{{path('excursion_show',{'id': excursion.id})}}">
                                        {% if (app.request.getlocale()) == 'es' %}
                                            {{excursion.nomes}}
                                        {% elseif (app.request.getlocale()) == 'en' %}
                                            {{excursion.nomen}}
                                        {% elseif (app.request.getlocale()) == 'fr' %}
                                            {{excursion.nom}}
                                        {% endif %}
                                    </a>
                                </h3>
                                <p><span>{{excursion.prixadulte}}$</span> / {% trans %}Adult price{% endtrans %}
                                <span class="ma">{{excursion.prixenfant}}$</span> / {% trans %}Child price{% endtrans %}</p>
                            </div><!-- /.tour-one__content -->
                        </div><!-- /.tour-one__single -->
                    </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.tour-one -->
{% endblock %}